body {
  background-color: #ADD2FC; /*light blue*/
  color: #272F66; /*navy*/
}

.title {
  text-align: center;
  font-size: 400%;
}

.link {
  text-align: center;
  font-size: 200%;
}

.home {
  font-size: 175%;
  text-decoration: none;
  color: #272F66;
}

.allPictures {
  background-color: #D4C03D;
  padding: 5px;
}

.pictureSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.contacts {
  background-color: #D4C03D; /*yellow*/
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}
