body {
  background-color: #ADD2FC; /*light blue*/
  color: #272F66; /*navy*/
}

.title {
  text-align: center;
  font-size: 400%;
}

.link, p {
  text-align: center;
  font-size: 200%;
}

.home {
  font-size: 175%;
  text-decoration: none;
  color: #272F66;
}

.allPictures {
  background-color: #D4C03D;
  padding: 5px;
}

.pictureSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.contacts {
  background-color: #D4C03D; /*yellow*/
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.thomas {
  display: flex;
  justify-content: space-around;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D4C03D;
}

.thomasLogo {
  max-width: 300px;
  /* max-height: 95px; */
}

.russianVideo {
  display: flex;
  justify-content: center;
}

.galleryPic {
  max-width: 300px;
  max-height: 400px;
}

.space {
  background-color: #D4C03D;
}

.gallery {
  display: flex;
  justify-content: space-around;
  background-color: #D4C03D;
  padding: 10px;
}
